.App {
  text-align: left;
  width: 100%;
}

/*.App-header {
  height: 50px;
  width: 100%;
  background-size: cover;
}*/

.App-logo {
  padding-top: 5px;
  padding-left: 7px;
}

/*.App-title {
  padding-left: 0px;
  padding-right: 0px;
  color:yellow; 
  font-weight: bolder;
  vertical-align: middle;
  text-align: right;
}*/

.App-intro {
  font-size: 19px;
}

.WhiteStyle {
  color: "white"
}

.MenuSubHeader{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.MenuTitle {
  padding-top: 15px;
  text-align: center;
  width: 100%;
  font-size: 22px;
  color: yellow;
  background-image: url(../../images/bannertop.jpg);
  padding-bottom: 15px;
}

.MenuLink{
  padding-top: 5px;
  text-align: left;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: navy
}